{% extends 'base.html' %}

{% block content %}
  <div class="center">

    <section class="ai-feature">
      
      <form method="post" novalidate class="card">
        {% csrf_token %}
        <div class="ai-heading">
          <h2>Ask AI</h2>
          <h2><i class="bi bi-chat-left-dots"></i></h2>
        </div>
      
      <label for="user_input">Your Question:</label>
      <textarea type="text" id="user_input" name="user_input" placeholder="Ask me anything..." class="form-control" required></textarea>
      
      <div class="form-buttons">
        <input type="submit" value="Send" class="btn btn-primary" />
        <a href="{% url 'tasks' %}" class="btn btn-outline">Back</a>
      </div>
    </form>

    <div class="ai-response">
      <h2><i class="bi bi-robot"></i> Chat Bot</h2>
      {% if response %}
        <iframe class="iframe" srcdoc="{{ response|escape }}"></iframe>
      {% endif %}
    </div>
    
  </section>
</div>

{% endblock %}