{% extends 'base.html' %}

{% block content %}
  <div class="center">

    <section class="ai-feature">
      
      <form method="post" novalidate class="card">
        {% csrf_token %}
        <div class="ai-heading">
          <h2>Ask AI</h2>
          <h2><i class="bi bi-chat-left-dots"></i></h2>
        </div>
      
      <label for="user_input">Your Question:</label>
      <textarea type="text" id="user_input" name="user_input" placeholder="Ask me anything..." class="form-control" required></textarea>
      
      <div class="form-buttons">
        <input type="submit" value="Send" class="btn btn-primary" />
        <a href="{% url 'tasks' %}" class="btn btn-outline">Back</a>
      </div>
    </form>

    <div class="chat">
      <div class="chat-heading">
        <h2><i class="bi bi-robot"></i> Chat Bot</h2>
        <a href="{% url 'delete-chat' %}" class="btn btn-primary">Clear Chat</a>
      </div>
      <iframe class="iframe" srcdoc="<p style='font-family: Dosis, sans-serif; font-size: 14px;'>
        {% if chat_history %}
          {% for message in chat_history %}
            <p style='font-family: Dosis, sans-serif; font-size: 14px; color: #fff; background: #86b7fe; padding: 4px; border-radius: 3px; width: fit-content;'>{{message.request}}</p>
            <p style='font-family: Dosis, sans-serif; font-size: 14px; color: #fff; background: #00cad1; padding: 4px; border-radius: 3px; width: fit-content; text-align: end;'>{{message.response}}</p>
          {% endfor %}
        {% else %}
          Hello {{request.user}}👋
        {% endif %}</p>"></iframe>
    </div>
  </section>
</div>

{% endblock %}