{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style-frontend.css' %}" />
    <title>Email</title>
</head>
<body style="box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px; padding: 20px;">
    <h2 style="margin: auto;">Hi dear!</h2>
    <div style="margin: auto;">
        <p>You're receiving this email because you requested a password reset for your user account at {{domain}}</p>
        
        <p>Please click the following link to reset your password:</p>
        
        <p>{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}</p>
        
        <p>Thanks.</p>
        
        <p>Todo App Team.</p>
    </div>
</body>
</html>






