{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/todo-list-svgrepo-com.svg' %}" type="image/x-icon" />
    <script src="{% static 'js/messages.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script src="{% static 'js/dark-header.js' %}"></script>
    <title>Todo List</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <a href="{% url 'home' %}" class="logo">Todo</a>
        <nav class="nav">
          <a href="{% url 'home' %}" class="nav-link underline-animation"><i class="bi bi-house-fill"></i> Home</a>
          {% if request.user.is_authenticated %}
            <style>
              @media (max-width: 516px) {
                .logo {
                  display: none;
                }
              }
              
              @media (max-width: 448px) {
                .bi-house-fill,
                .bi-list-task,
                .bi-plus-circle {
                  display: none;
                }
              }
              
              @media (max-width: 363px) {
                .create-task {
                  display: none;
                }
              }
            </style>

            <a href="{% url 'tasks' %}" class="nav-link underline-animation"><i class="bi bi-list-task"></i> My Tasks</a>
            <a href="{% url 'task-create' %}" class="nav-link underline-animation create-task"><i class="bi bi-plus-circle"></i> Create Task</a>
            <a href="{% url 'profile' %}" class="nav-link underline-animation"><i class="bi bi-person-badge"></i></a>
            <a href="{% url 'logout' %}" class="btn btn-outline">Logout</a>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline">Login</a>
            <a href="{% url 'register' %}" class="btn btn-primary">Join Now</a>
          {% endif %}
        </nav>
      </div>
    </header>

    <main class="main">
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
      </div>
    </main>

    <footer class="footer">
      <div class="footer-container container">
        <div class="copy">
          <p>
            &copy; Copyright {% now 'Y' %} by <a href="https://www.linkedin.com/in/nazar-pichak-ua/" class="underline-animation" target="_blank"> Nazar Pichak</a>
          </p>
        </div>

        <div class="social-icons">
          <p>
            <strong>
              <font class="social">Social</font><font class="media">Media</font>
            </strong>
          </p>
          <a href="https://www.instagram.com/__nazar_pichak___/" class="underline-animation" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.facebook.com/nazar.pichak.9" class="underline-animation" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.linkedin.com/in/nazar-pichak-ua/" class="underline-animation" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/Nazar-Pichak" class="underline-animation" target="_blank"><i class="bi bi-github"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
